@import 'compass';
@import 'compass/reset';

$main-color:#0B7F8C;

body{
  font-size: 100%;
  width: 100%;
}
div{
  @include box-sizing(border-box);
}
h1{
  font-weight: bold;
}
.container{
  width:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #f5f5f5;
}

.header{
  width: 100%;
  height: 50px;
  top: 0;
  background: $main-color;
  padding: 10px;
  color: #fff;
}

.contents{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.btn{
  @include border-radius(4px);
  @include box-sizing(border-box);
  @include box-shadow(none);
  background: #BF2A2A;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 16px;
  margin: 20px 0;
  width: 100%;
  display: inline-block;
  padding: 10px;
  &:hover{
    opacity: .7;
  }
}

.modal{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #999;
  padding: 20px;
  overflow: auto;
}
