<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/jquery-2.1.0.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <title></title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>header</h1>
    </div>
    <div class="contents">
      <h1>contents</h1>
      <button class="btn js-modal-trigger">modal</button>
      <p>Dolor veniam ab quaerat atque dignissimos! Laudantium quisquam optio repellendus veritatis debitis. Harum officia delectus necessitatibus repudiandae nobis, consequatur adipisicing. Sequi repellat quis in reprehenderit quia dolorum culpa, quae autem.</p>
      <p>Consectetur molestiae hic totam maxime placeat animi nihil aspernatur nam iste. Aut at soluta architecto fuga consequuntur doloremque veniam non. Eaque corrupti eveniet repellat perspiciatis repellendus iure. Facilis culpa sint!</p>
      <p>Sit numquam blanditiis ex nam sapiente porro magni. Molestias architecto ducimus facilis aperiam vitae itaque? Expedita ducimus eum similique in doloremque quos quibusdam officia. Commodi fuga minima minus asperiores ad!</p>
      <p>Lorem mollitia natus animi nisi numquam laboriosam, ab mollitia quas vero voluptatem excepturi similique dolorem ipsam perspiciatis placeat sapiente? Quaerat laboriosam quod aperiam pariatur quod assumenda? Aliquam mollitia dicta alias.</p>
      
    </div>
    <div class="modal js-modal-contents">
      <h1>modal</h1>
      <p>Amet nesciunt minima accusamus repellat magni. Ipsum doloribus facilis esse illo expedita voluptas similique error. Reprehenderit tenetur repellat exercitationem natus voluptates provident. Sit vero accusantium labore aut cupiditate odio! Explicabo.</p>
      <p>Consectetur dicta inventore sit ratione nam laudantium et suscipit adipisci aliquid officia aspernatur commodi. Quos possimus quos deleniti in nam. Voluptates expedita itaque cupiditate consequuntur a? Nisi impedit sapiente provident.</p>
      <p>Adipisicing explicabo incidunt voluptatem tempora quam id culpa sequi vero? Optio ullam eaque animi dolore eaque. Natus quos eligendi pariatur similique fugiat ex autem aliquam. Dolorum aut quis quod culpa.</p>
      <p>Elit dolorem cumque dicta commodi quis suscipit dolorem? Ut vero ex iure blanditiis facere velit saepe, ex. Alias impedit sapiente fugiat repudiandae eaque repellat iure atque cum dignissimos ratione vitae.</p>
      <p>Consectetur deserunt sit vitae labore unde. Est et error in doloribus consectetur repellendus. Sed inventore tenetur blanditiis nemo optio? Maxime corrupti est quibusdam quia distinctio distinctio. Quam inventore eligendi repudiandae!</p>
      
    </div>
  </div>
</body>
</html>
