<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/jquery-2.1.0.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <title></title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>header</h1>
    </div>
    <div class="contents">
      <h1>contents</h1>
      <p>Dolor veniam ab quaerat atque dignissimos! Laudantium quisquam optio repellendus veritatis debitis. Harum officia delectus necessitatibus repudiandae nobis, consequatur adipisicing. Sequi repellat quis in reprehenderit quia dolorum culpa, quae autem.</p>
    </div>
    <div class="modal">
      <h1>modal</h1>
    </div>
  </div>
</body>
</html>
